extends layout

include mixins/_accountForm

block content
  section.hero
    header.hero__header
      h2.hero__title= title
    +accountForm()
  section.flex.justify-center.mt-6
    a(href=`/logout`)
      | Logout