extends layout

block content
  section.hero
    header.padded.top-padded-2x
      h2.hero__title List and Share Links
    section.cta.padded.bottom-padded-2x
      a.btn.btn--primary(href="/lists/add") Create List