extends layout

block content
  section.hero.hero--inverted
    header.padded.top-padded-2x
      h2.hero__title List and Share Links
    section.cta.padded.bottom-padded-2x
      a.cta__link(href="/lists/add") Create a List