extends layout

block content
  section.hero
    header.hero__header
      h2.hero__title List and Share Links
    a(href="/lists/add").hero__action Create List

  section.lists.p-3.flex.flex-wrap
    each list in lists
      article.overflow-hidden.flex.p-2.items-center.rounded.bg-white.shadow.m-1.flex-grow.flex-shrink
        header.flex-grow.text-center.p-4
          h3.font-normal.text-xl
            a(href=`/lists/${list.slug}`)= list.title