doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    block header
      header.navbar-top
        nav.navbar-top--section
          ul 
            li 
              a(href='/lists') ~ 
        section.navbar-top--section
            b= title
        nav.navbar-top--section
          ul
            li
              a(href='/collections/add') +

    block messages
      if locals.flashes
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash--text!= message
                  button.flash--remove(onClick="this.parentElement.remove()") &times;

    section.content
      block content
