doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.navbar-top
      nav.navbar-top--section
        ul 
          li 
            a(href='/') Home
          li Popular
          li New
      section.navbar-top--section
        a(href='/') ~
      nav.navbar-top--section
        ul
          li
            a(href='/create') Create
          li Find
          li Share
    section.content
      block content
