doctype html
html
  head
    include includes/gtag-snippet.html
    title Fwd #{title ? '~ ' + title : ''}
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    nav.main-nav.flex-row.flex-row--spaced.padded
      ul
        li
          b 
            a(href="/") #{h.siteName}
      ul.top-nav
        li
          a(href='/lists/add') New List

    block messages
      if locals.flashes
          section.flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash--text!= message
                  button.flash--remove(onClick="this.parentElement.remove()") &times;

    main
      block content
