doctype html
html
  head
    include includes/gtag-snippet.html
    title Fwd #{title ? '~ ' + title : ''}
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
  body.font-sans.bg-grey-lighter
    nav.flex.items-center.justify-between.flex-no-wrap.p-3.bg-white
      ul.list-reset.flex
        li
          a(href="/") #{h.siteName}
      ul.list-reset.flex
        li.pl-3
          a(href='/lists/add') New List
        li.pl-3
          a(href='/register') Register
        li.pl-3
          a(href='/login') Login

    block messages
      if locals.flashes
          section.flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash--text!= message
                  button.flash--remove(onClick="this.parentElement.remove()") &times;

    main
      block content
