extends layout

include mixins/_pageHeading

block content
  article.list-page 
    header
      h1.list-page__title= title
    aside.list-page__options.hidden
      a.btn.center(href=`/${list.slug}/add`) Add Link
    ul.list-page__list
      each link in links
        li.list-page__list-item
          a(href=link.url)= link.title