extends layout

include mixins/_pageHeading

block content
  +pageHeading({title, description: list.description})
  a(href=`/${list.slug}/add`) 
    button Add Link
  ul
    each link in links
      li  
        a(href=link.url)= link.title