extends layout

block content
  main
    header
      h2= list.title
    nav
      ul
        li.list__action
          a(href=`/lists/${list.slug}/add`) Add Link
    each post in list.posts
      article
        header
          h3= post.link.meta.title
          - const formattedUrl = h.formatUrl(post.link.meta.url)
          - console.log(post)
          cite= formattedUrl
        //- nav
        //-   ul
        //-     li
        //-       span
        //-         a(href="#") Upvote
        //-       span= post.votes
        //- img