/* Page Defaults */

:root {
  font: 16px Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Utilities */

.hidden {
  display: none !important;
}

.padded {
  padding: 1rem;
}

.padded-1-5x {
  padding: 1.5rem;
}

.padded-2x {
  padding: 2rem;
}

.top-padded-2x {
  padding-top: 2rem;
}

.bottom-padded-2x {
  padding-bottom: 2rem;
}

/* Nav */

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: .5rem;
}

nav a {
  color: inherit;
  text-decoration: none;
}

/* Main Nav */

.flex-nav {
  display: flex;
  justify-content: space-between;
}

/* Hero */

.hero--inverted {
  color: white;
  background: black;
}

.hero__title {
  font-size: 2.5rem;
  text-align: center;
}

.cta {
  display: flex;
  justify-content: center;
}

.cta__link {
  background: purple;
  padding: .75rem;
  color: white;
  border-radius: .1rem;
}

/* Form */

/* .form-item {
  display: block;
  margin-bottom: 1rem;
}

.form-item input[type="text"] {
  margin-top: .5rem;
  padding: .5rem;
  width: 100%;
}

.list-form {
  width: 100%;
  max-width: 240px;
}

.list-form .form-item {
  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
  font-size: 1rem;
} */

/* Flashes */

.flash {
  background: white;
  border: 3px solid black;
  display: flex;
  padding: 1rem;
  margin: 1rem;
}
.flash p {
  margin: 0;
  flex-grow: 1;
}
.flash button {
  background: none;
  border: none;
}

.flash--success {
  border-color: rgba(145,232,66,1)
}
.flash--warning {
  border-color: rgb(238, 255, 82)
}
.flash--error {
  border-color: rgba(200,0,0,1)
}
.flash--info {
  border-color: rgb(82, 229, 255)
}

/* Lists */

/* .list-page {
  --line-color: lightgrey;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-page__title {
  font-size: 2.5rem;
  text-align: center;
}

.list-page__list a {
  text-decoration: none;
}

.list-page__list {
  color: black;
  background: white;
  margin: 0;
  list-style: none;
  border: 1px solid lightgrey;
  border-bottom: none;
  padding: 1rem;
  width: 100%;
  max-width: 480px;
  flex-grow: 1;
  border-radius: .5rem .5rem 0 0;
}

.list-page__list-item {
  padding: .5rem;
  border-bottom: 1px solid var(--line-color);
  margin-bottom: .5rem;
}

.list-page__form {
  border-bottom: 1px solid var(--line-color);
}

.list-page__form-item {
  font-size: 1rem;
  padding: .5rem;
  width: calc(100% - 1rem);
  border: none;
} */