/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

a {
  text-decoration: none;
  color: inherit;
}

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
@tailwind components;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

.hero {
  @apply .bg-black .text-white .font-thin
}

.hero__header {
  @apply .p-6
}

.hero__title {
  @apply .font-thin .text-center .text-4xl
}

.hero__action {
  @apply .bg-purple-dark .flex .justify-center .p-2 .text-sm
}

.hero-form {
  @apply .flex .flex-col .items-center
}

.hero-form__input {
  @apply .mb-6 .p-2
}

.hero-form__submit {
  @apply .w-full .bg-purple-dark .text-white .p-2
}
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
@tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

  /* Custom Utilities */

.grid {
  display: grid;
}

.grid-fit {
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.grid-gap {
  grid-gap: 1rem;
}

  /* Flashes */

.flash {
  background: white;
  border: 3px solid black;
  display: flex;
  padding: 1rem;
  margin: 1rem;
}
.flash p {
  margin: 0;
  flex-grow: 1;
}
.flash button {
  background: none;
  border: none;
}

.flash--success {
  border-color: rgba(145,232,66,1)
}
.flash--warning {
  border-color: rgb(238, 255, 82)
}
.flash--error {
  border-color: rgba(200,0,0,1)
}
.flash--info {
  border-color: rgb(82, 229, 255)
}
 