mixin accountForm()
  form.form(method="POST").hero-form
    label(for="username").hero-form__label Username
      input(type="text" id="username" name="username" value=user.username).hero-form__input
    label(for="email").hero-form__label Email
      input(type="email" id="email" name="email" value=user.email).hero-form__input
    input(type="submit" value="Save").hero__action