mixin collectionList(list={})
    article.list-page 
      header
        h1.list-page__title= list.title
      ul.list-page__list
        if list.items
          each item in list.items
            li.list-page__list-item
              item.content