mixin collectionList(list={})
    article.list-page 
      header
        h1.list-page__title(onclick="editListTitle(event)")= list.title
      ul.list-page__list
        if list.items
          each item in list.items
            li.list-page__list-item= item.content
        form.list-page__form(action=`/lists/${list.slug}/add` method="POST")
          input(type="hidden", name="listId" value=list._id)
          label.hidden(for="content") Content
          input.list-page__form-item(type="text" id="content" name="content")
          input.list-page__form-item.hidden(type="submit" value="Save")