mixin forgotForm()
  form(method="POST").hero-form
    label(for="email").hero-form__label Email
      input(type="email" name="email").hero-form__input
    input(type="submit" value="Send a Reset").hero__action
