mixin linkFormAdd(list)
  form(action=`/lists/${list.slug}/add` method="POST").flex-column.flex-column--centered.bottom-padded-2x
    label(for="url").hidden URL
    input(type="text" id="url" name="url").input.bottom-margined
    input(type="submit" value="Save").btn.btn--primary