mixin linkFormAdd(user, list)
  form(action=`/${user.username}/${list.slug}/add` method="POST" autocomplete="off").hero-form
    label(for="targetUrl").hero-form__label Link URL
      input(type="text" id="targetUrl" name="targetUrl" autofocus).hero-form__input
    input(type="submit" value="Save").hero__action