mixin listFormAdd()
  form(action="/lists/add" method="POST").hero-form
    label(for="title").hidden Title
    input(type="text" id="title" name="title").hero-form__input
    input(type="submit" value="Save").hero-form__submit.hero__action