mixin listForm(collection = {}, list = {})
    form(action="/lists/add" method="POST").list-form
      label.form-item.hidden(for="title") Title
      input(type="text" id="title" name="title").form-item
      label.form-item.hidden Collection
        - const collectionVal = collection.slug ? collection.slug : ''
        input(type="text" name="collection" value=`${collectionVal}`)
      label.form-item.hidden Description
        input(type="text" name="description")
      input.form-item(type="submit" value="Save").hidden