mixin resetForm()
  form.form(method="POST").hero-form
    label(for="password").hero-form__label Password
      input(type="password" id="password" name="password").hero-form__input
    label(for="password-confirm").hero-form__label Confirm Password
      input(type="password" id="password-confirm" name="password-confirm").hero-form__input
    input(type="submit" value="Reset Password").hero-form__submit.hero__action